<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="StudentEvent1.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <link href="Content/style.css"
      rel="stylesheet"
      type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <<form runat="server">

        <header class="header">

            <div class="logo">
                StudentEvent
            </div>

            <nav class="menu">

                <a href="Default.aspx">
                    Trang chủ
                </a>

                <a href="Register.aspx">
                    Đăng ký
                </a>

                <a href="Login.aspx">
                    Đăng nhập
                </a>

            </nav>

        </header>


        <asp:ContentPlaceHolder
            ID="MainContent"
            runat="server">
        </asp:ContentPlaceHolder>


        <footer class="footer">

            StudentEvent © 2026

        </footer>

    </form>
</body>
</html>
